/* formatting */

body {
  font-family: 'Courier New', Courier, monospace;
  margin: 0;
  color: #f7f3f3;
}

h1, h2, h3 {
  color: #f7f3f3;
}

p {
  line-height: 1.5;
  width: 500px;
}

.logos
{
	/* width:50px;
	height:50px; */
	position:absolute;
	right:0px;
	bottom:8px;
	padding: 0%;
	display:flex;
	/* transform: skew(20deg); */
}

.triangle-left {
	width: 0;
	height: 0;
	border-top: 25px solid transparent;
	border-right: 50px solid #f7f3f3;
	border-bottom: 26px solid transparent;
}

.big {
	display:flex;
	flex-direction: row-reverse;
	width:720px;
	margin-left:auto;
	margin-right:auto;
	margin-top:8%;
	margin-bottom:8%;
}

.homepage {
  height:400px;
  width:500px;
  margin:auto;
  background-color: #15929b;
  border-style:outset;
  text-align:center;
}

.pagelink_container {
	/* top:100px; */
	display:flex;
	flex-direction: column;
	/* justify-content: space-between; */
	gap:25px;
	height:200px; 
	width:150px;
}

.pagelink_container > * {
	height:60px;
	background-color: #15929b;
  	border-style:outset;	
	text-align: center;
	border-color:#f7f3f3;
}

/* the dark is 1b1b1c */
/* #f7f3f3 is the white */
/* 15929b for fun teal */