/* formatting */

body {
  font-family: 'Courier New', Courier, monospace;
  margin: 0;
  padding: 0; 
  color: #f7f3f3;
}

h1, h2, h3 {
  color: #f7f3f3;
}

p {
  line-height: 1.5;
  width: 500px;
}

.logos
{
	/* width:50px;
	height:50px; */
	position:absolute;
	right:0px;
	bottom:8px;
	padding: 0%;
	display:flex;
	/* transform: skew(20deg); */
}

.triangle-left {
	width: 0;
	height: 0;
	border-top: 25px solid transparent;
	border-right: 50px solid #f7f3f3;
	border-bottom: 26px solid transparent;
}

.homepage {
  height:400px;
  width:500px;
  position:absolute; 
  right:260px; 
  top:100px;
  /* display: flex; */
  margin:auto;
  background-color: #15929b;
  border-style:outset;
}

.pagelink {
  height:50px;
  width:200px;
  position:absolute;
  left:260px;
  /* set top manually */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #15929b;
  border-style:outset;	
}

/* the dark is 1b1b1c */
/* #f7f3f3 is the white */
/* 15929b for fun teal */